{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-sm">
        <h2>Product Add Form</h2>
        {{ form(add_product_form) }}
        <h2>Country Add Form</h2>
        {{ form(add_country_form) }}
        {{ message ?? '' }}
    </div>

{% endblock %}
